@using Microsoft.AspNet.Identity
@using WorkWithEntity;

@{
    int tmp;
    if (Session["sessionString"] != null)
    {
        List<Book> bks = Session["sessionString"] as List<Book>;
        tmp = bks.Count();
    }
    else
    {
        tmp = 0;
    }
    string link = "Cart (" + tmp + ")";
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">        
        <li>@Html.ActionLink(link, "Cart", "Book", null ,htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
